@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo(a)</h1>
    <p>Ao gerenciamento De Comidas!</p>
    <br />
    <img src="~/GerenciadorDeComidas.png" width="500" height="500" /><br />
    <br />
  
</div>
